page-home {

}
.telolet-dialog{
	font-weight:300;
	text-align:center;
	padding-top:10%;
}
.speaker{
	margin-bottom:40%;
}
.transcript{
	font-weight:300;
	padding-top:5%;
	text-align:center;
}
.center{
	display:flex;
	margin:0 auto;
}